.title {
    margin-top: 20px;
    font-size: 5em;
    text-align: center;
    font-family: "Helvetica";
    color: black;
}

.subtitle {
    margin-top: 10px;
    font-size: 5em;
    text-align: center;
    font-family: "Helvetica";
    color: black;
}

.date{
    color:black,
}

#content {
    font-family: "Helvetica";
    text-align: justify;
}

h3{
    font-family: "Helvetica";
    padding-top: 0.10em;
}

.tracker{
    box-shadow: '1px 2px 9px #F4AAB9';
}


.history-image{
    width:100%;
    height: auto;
}

.history-last-image{
    width:100%;
    height: 15rem;
}

.set-one{
    margin-top: 40px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1px;
}


.set-two{
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1px;
}

.progress {
    width: 16rem;
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px; 
    border-style: solid;
    border-color: #808080;
    align-self: normal;
}


.progress-1{
    width: 16rem;
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -350px;
    border-radius: 10px;
    border-style: solid;
    border-color: #808080;
    align-self: normal;
}


.progress-2 {
    width: 16rem;
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -350px;
    border-radius: 10px;
    border-style: solid;
    border-color: #808080;
    align-self: normal;
}



.development-report{
    margin-top: 20px;
    margin-left: -60px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.report{
    margin-top: 20px;
    width: 20%;  
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 75px;
    border-style: solid;
    border-color: #808080;
    align-self: normal;
}



.report1{
    margin-top: 20px;
    width: 20%;
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -350px;
    border-style: solid;
    border-color: #808080;
    align-self: normal;
}

.report-card{
    align-self: normal;
}
.card-title{
    margin-top: 10px;
    margin-left: 10px;
    font-family: Helvetica;
    word-spacing: 120px;
}

.report-card-title{
    margin-top: 10px;
    margin-left: 10px;
    font-family: Helvetica;
}

.card-description{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 6px;
    margin-bottom: 20px;
    text-align: justify;
}

.card-button{
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 20px;
    padding: 0.5 rem;
    border-radius: 1rem;
    font-family: Helvetica;
    background-color: white;
    padding: 10px 20px;
}

.card-button:hover{
    transform: scale(1,1);
    background-color: black;
    color: white;

}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: fill;
}


.card:hover{
    transform: scale(1.05);
    background-color: black;
    color: white;
    transition-delay: 0.3s; 
    border-radius: 10px;
    align-self: normal;
}
