* {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --bg-color: rgb(250, 250, 250);
  --sgd1: #e5243b;
  --sgd2: #DDA63A;
  --sgd3: #4C9F38;
  --sgd4: #C5192D;
  --sgd5: #FF3A21;
  --sgd6: #26BDE2;
  --sgd7: #FCC30B;
  --sgd8: #A21942;
  --sgd9: #FD6925;
  --sgd10: #DD1367;
  --sgd11: #FD9D24;
  --sgd12: #BF8B2E;
  --sgd13: #3F7E44;
  --sgd14: #0A97D9;
  --sgd15: #56C02B;
  --sgd16: #00689D;
  --sgd17: #19486A;
}

/* CSS FOR NAVBAR */

.navbar {
  padding-top: 30px;
  width: 80vw;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar img {
  height: 100%;
}

.navbar .buttons {
  margin-left: auto;
  display: flex;
  gap: 2rem;
}

.navbar .buttons button {
  border: none;
  background-color: var(--bg-color);
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: black;
}

/* CSS FOR SCROLLING TEXT */
.wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
  /* border: 1px solid black; */
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 90s linear infinite;
}

.marquee p {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 800;
  color: #545F71;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

/* CSS FOR SQUARE COMPONENT */

.gallery {
  margin-top: 40px;
  margin-bottom: 80px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.square {
  width: calc((100% - 5 * 1rem)/ 6);
  aspect-ratio: 1/1;
  position: relative;
}

.image-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, filter 0.1s ease-in-out; 
  filter: grayscale(100%);
  border: 1px solid gray;
}

.image-wrapper img.default {
  opacity: 1;
}

.image-wrapper img.alternative {
  opacity: 0;
} 

.square:hover {
  scale: 105%;
  border: none;
}

.square:hover img {
  filter: grayscale(0);
}

/* CSS FOR CAROUSEL */

.solid {
  margin-top: 300px;
  margin-bottom: 100px;
  background-color: #D9D9D9;
  height: auto;
  padding-top: 2rem;
  position: relative;
}

.solid .overflow-number {
  position: absolute;
  top: -300px;
  left: 2.5%;
  overflow: visible;
  font-size: 24rem;
  font-weight: 700;
  color: black;
  -webkit-text-fill-color: var(--bg-color);
  text-shadow:
       3px 3px 0 #000,
       -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
       1px 1px 0 #000;
}

.solid .title { 
  position: absolute;
  top: -130px;
  left: 50%;
  transform: translateX(-50%);
  color: #545F71;
}

.solid .button-container {
  position: absolute;
  top: -70px;
  right: 2.5%;
  display: flex;
}

.solid .button-container button{
  font-size: 1.2rem;
  border: 1px solid gray;
  border-radius: 1rem;
  margin: 5px;
  padding: .5rem 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--bg-color);
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-right: 50px;
  margin-left: 50px;
}

.solid .svg-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.svg-container .item {
  max-height: 100%;
}

.svg-container .item img {
  width: 90%;
}

.read-more-button {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.read-more-button button {
  font-size: 1.2rem;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 1rem;
  margin: 5px;
  padding: .5rem 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}