body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.gallery {
  padding-top: 80px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.square {
  width: calc(90% / 6);
}

.square img{
  width: 100%;
  box-sizing: border-box;
}