@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NimbusSanL';
  src: url('./assets/fonts/NimbusSanL-Bol.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NimbusSanL';
  src: url('./assets/fonts/NimbusSanL-BolIta.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NimbusSanL';
  src: url('./assets/fonts/NimbusSanL-Reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NimbusSanL';
  src: url('./assets/fonts/NimbusSanL-RegIta.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

* {
  margin: 0;
  font-family: NimbusSanL, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

:root {
  --bg-color: rgb(250, 250, 250);
  --sgd1: #e5243b;
  --sgd2: #DDA63A;
  --sgd3: #4C9F38;
  --sgd4: #C5192D;
  --sgd5: #FF3A21;
  --sgd6: #26BDE2;
  --sgd7: #FCC30B;
  --sgd8: #A21942;
  --sgd9: #FD6925;
  --sgd10: #DD1367;
  --sgd11: #FD9D24;
  --sgd12: #BF8B2E;
  --sgd13: #3F7E44;
  --sgd14: #0A97D9;
  --sgd15: #56C02B;
  --sgd16: #00689D;
  --sgd17: #19486A;
}

/* CSS FOR NAVBAR */

.navbar {
  padding-top: 30px;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.navbar img {
  height: 120%;
}

.navbar .buttons {
  margin-left: auto;
  display: flex;
  gap: 2rem;
} 


.navbar a {
  text-decoration: none;
  color: black;
}

/* CSS FOR SCROLLING TEXT */
.wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
  /* border: 1px solid black; */
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 90s linear infinite;
}

.marquee p {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 800;
  color: #545F71;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

/* CSS FOR SQUARE COMPONENT */

.gallery {
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  z-index: 0;
}

.square {
  display: block;
  width: calc((100% - 5 * 1rem)/ 6);
  aspect-ratio: 1/1;
  position: relative;
  z-index: 0;

}

.image-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  z-index: 0;

}

.image-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, filter 0.1s ease-in-out; 
  filter: grayscale(100%);
  border: 1px solid gray;
  z-index: 1;
}

.image-wrapper img.default {
  opacity: 1;
  z-index: 0;

}

.image-wrapper img.alternative {
  opacity: 0;
  z-index: 0;

} 

.square:hover {
  scale: 105%;
  border: none;
}

.square:hover img {
  filter: grayscale(0);
}

.square .cursor-square {
  display: inline-block;
  position: absolute;
  width: 250px;
  height: auto;
  border-radius: 1rem;
  z-index: 9999;
  transform: translateY(-105%);
  padding: 20px;
}

/* https://www.youtube.com/watch?v=3HRvb2tLqF4 */
.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.cursor-square h2 {
  font-weight: bold;
  font-size: 2rem;
}

.cursor-square h5 {
  font-family: NimbulSansL;
  font-weight: bold;
  margin-top: 10px;
}

.cursor-square p {
  font-size: 1rem;
}

/* CSS FOR CAROUSEL */

.solid {
  margin-top: 300px;
  margin-bottom: 100px;
  background-color: #D9D9D9;
  height: auto;
  padding-top: 2rem;
  position: relative;
  transition: opacity 0.5s ease;
}

.solid .overflow-number {
  position: absolute;
  top: -320px;
  left: 0;
  overflow: visible;
  font-size: 24rem;
  font-weight: 700;
  opacity: 0;
  transition: all .5s;
  color: black;
  -webkit-text-fill-color: var(--bg-color);
  text-shadow:
       3px 3px 0 #545F71,
       -1px -1px 0 #545F71,  
       1px -1px 0 #545F71,
       -1px 1px 0 #545F71,
       1px 1px 0 #545F71;
}

.solid .overflow-number.show {
  opacity: 1;
  left: 2.5%;
}

.solid .title { 
  display: inline-block;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  color: #545F71;
  opacity: 0;
  transition: all 1s;
  font-weight: 900;
}

.solid .title.show {
  opacity: 1;
  top: -175px;
}

.solid .button-container {
  position: absolute;
  top: -70px;
  right: 2.5%;
  display: flex;
}

.solid .button-container button{
  font-size: 1.2rem;
  border: 1px solid gray;
  border-radius: 1rem;
  margin: 5px;
  padding: .5rem 1.7rem;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.solid .button-container span {
  margin-top:1px;
}

/* CSS to hide scrollbar */
/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
  /* background-color: var(--bg-color); */

.solid .button-container button:hover{
  background-color: black;
  color: white;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-right: 50px;
  margin-left: 50px;
}

.solid .svg-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.svg-container .item {
  max-height: 100%;
}

.svg-container .item img {
  width: 90%;
}

.read-more-button {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.read-more-button button {
  font-size: 1.2rem;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 1rem;
  margin: 5px;
  padding: .5rem 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.read-more-button button:hover {
  background-color: white;
  color: black;
}

/* CSS FOR FOOTER */

.footer {
  height: 500px;
  background-color: #333333;
  margin-top: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer hr{
  width: 95%;
}

.footer .top {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
}

.footer .top .tagline{
  color: white;
  width: auto;
  font-weight: 800;
  font-size: 3rem;
  padding-left: 60px;
}

.footer .top .right {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: auto;
  width: 400px;
}

.right ul{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
}

.right ul li {
  width: 140px;
  border: 3px solid white;
  color: white;
  font-weight: 600;
  padding: .8rem;
  cursor: pointer;
}

.right .icons {
  display: flex;
  color: #808080;
  font-size: 3rem;
  gap: 1rem;
  margin-top: 30px;
  margin-right: 100px;
  cursor: pointer;
}

.footer .bottom {
  margin-top: 20px;
  margin-left: 20px;
  padding: .5rem;
  width: 95%;
  display: flex;
  align-items: center;
}

.footer .bottom .logo {
  display: flex;
  align-items: center;
}

.footer .bottom .logo img {
  height: 60px;
  cursor: pointer;
}

.footer .bottom .links {
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  gap: 1.3rem;
}

.footer .bottom .links a {
  text-decoration: none;
  color:white;
  font-weight: 300;
  letter-spacing: 2px;
  cursor: pointer;
}

.footer .bottom .links a:hover {
  color: gray;
}

.set-two {
  overflow: hidden;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

.partner img:last-of-type {
  padding-left: 0;
}

.inner {
  position: relative;
  width: 200%;
  overflow: hidden;
  height: 15rem;
}

.partner .wrapper {
  position: relative;
  display: flex;
}

h1.title {
  color: #545F71;
  font-weight: 900;
  text-transform: uppercase;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

/*HEADER STYLE*/
.header {
  background-color: white;
  color: #333333;
  text-align: center;
  margin-top: -100px;
  height: 200px;
  display: grid;
  place-items: center;
}

.header-title {
  text-align: center;
  font-family: 'Helvetica';
  font-size: 3vw;
  margin-bottom: 10px;
}

.header-description{
  margin-top: 10px;
  font-family: 'Helvetica';
  font-size: medium;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 1vw;
}


/*HISTORY CARDS DESIGN*/
/*https://www.youtube.com/watch?v=yfg9ChTmuKM*/
/*https://www.youtube.com/watch?v=tF3RE5CGt9U&t=381s*/

.history {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 100px;
}

.historycard {
  position: relative;
  
}

.history-image{
  display:block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  height: auto;
  filter: grayscale(1.0);
}

.history-content{
  position:absolute;
  bottom: 0;
  left: 0;
  right:0;
  background-color: rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 100%;
  transition: 0.3s ease-in;
  height: 0;
}

.historycard:hover .history-content{
  height: 100%;
}

.historycard:hover .history-image{
  filter: none;
}


.history-title{
  width: 100%;
  margin-top: 10%;
  color: white; 
  font-size: 4vw;
  position: absolute;
  text-align: center;
  font-family: "Helvetica";
}

.history-description{
  text-align: center;
  font-family: "Helvetica";
  color: white;
  font-size: 1vw;
  margin: 40% 0 0 15%;
  width: 70%;
  line-height: 1.5em;
}
